/****** Object:  Table [dbo].[_AB_tb_recipe_Backup_211019]    Script Date: 8/17/2023 9:06:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_AB_tb_recipe_Backup_211019](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[itemprod] [char](30) COLLATE Latin1_General_CI_AS NOT NULL,
	[version] [char](8) COLLATE Latin1_General_CI_AS NOT NULL,
	[sequenceno] [int] NOT NULL,
	[description] [char](30) COLLATE Latin1_General_CI_AS NULL,
	[itemreq] [char](30) COLLATE Latin1_General_CI_AS NULL,
	[descr_txt] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[gen_ledger] [char](9) COLLATE Latin1_General_CI_AS NULL,
	[quantity] [float] NOT NULL,
	[cost_price] [float] NOT NULL,
	[length] [float] NOT NULL,
	[width] [float] NOT NULL,
	[height] [float] NOT NULL,
	[pos_no] [char](20) COLLATE Latin1_General_CI_AS NULL,
	[usage_meth] [char](1) COLLATE Latin1_General_CI_AS NULL,
	[costcenter] [char](8) COLLATE Latin1_General_CI_AS NULL,
	[res_id] [int] NOT NULL,
	[assetgroup] [char](20) COLLATE Latin1_General_CI_AS NULL,
	[assetcode] [char](20) COLLATE Latin1_General_CI_AS NULL,
	[companycode] [char](3) COLLATE Latin1_General_CI_AS NULL,
	[docguid] [uniqueidentifier] NULL,
	[line_type] [char](1) COLLATE Latin1_General_CI_AS NULL,
	[man_costpr] [float] NOT NULL,
	[cal_costpr] [float] NOT NULL,
	[salesprice] [float] NOT NULL,
	[debtor] [char](6) COLLATE Latin1_General_CI_AS NULL,
	[supplier] [char](6) COLLATE Latin1_General_CI_AS NULL,
	[variant] [char](1) COLLATE Latin1_General_CI_AS NULL,
	[var_quantity] [float] NOT NULL,
	[drawingno] [char](25) COLLATE Latin1_General_CI_AS NULL,
	[activityno] [char](4) COLLATE Latin1_General_CI_AS NULL,
	[activity] [char](6) COLLATE Latin1_General_CI_AS NULL,
	[eff_date] [datetime] NULL,
	[exp_date] [datetime] NULL,
	[NotesID] [uniqueidentifier] NULL,
	[freefield1] [float] NOT NULL,
	[freefield2] [float] NOT NULL,
	[freefield3] [float] NOT NULL,
	[freefield4] [char](75) COLLATE Latin1_General_CI_AS NULL,
	[freefield5] [char](75) COLLATE Latin1_General_CI_AS NULL,
	[freefield6] [char](75) COLLATE Latin1_General_CI_AS NULL,
	[freefield7] [char](75) COLLATE Latin1_General_CI_AS NULL,
	[freefield8] [char](75) COLLATE Latin1_General_CI_AS NULL,
	[freefield9] [char](75) COLLATE Latin1_General_CI_AS NULL,
	[freefield10] [char](75) COLLATE Latin1_General_CI_AS NULL,
	[freefield11] [datetime] NULL,
	[freefield12] [datetime] NULL,
	[freefield13] [float] NOT NULL,
	[freefield14] [float] NOT NULL,
	[freefield15] [float] NOT NULL,
	[freefield16] [tinyint] NOT NULL,
	[freefield17] [tinyint] NOT NULL,
	[freefield18] [tinyint] NOT NULL,
	[freefield19] [tinyint] NOT NULL,
	[freefield20] [tinyint] NOT NULL,
	[MainVersion] [tinyint] NULL,
	[warehouse] [char](4) COLLATE Latin1_General_CI_AS NULL,
	[backflush] [tinyint] NOT NULL,
	[Routing] [varchar](10) COLLATE Latin1_General_CI_AS NULL,
	[Step] [int] NULL,
	[syscreated] [datetime] NOT NULL,
	[syscreator] [int] NOT NULL,
	[sysmodified] [datetime] NOT NULL,
	[sysmodifier] [int] NOT NULL,
	[sysguid] [uniqueidentifier] NOT NULL,
	[timestamp] [timestamp] NOT NULL,
	[DocumentID] [int] NULL,
	[Division] [smallint] NULL,
	[Unit] [char](8) COLLATE Latin1_General_CI_AS NULL,
	[ConversionFactor] [float] NULL,
	[Operation] [varchar](10) COLLATE Latin1_General_CI_AS NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
