/****** Object:  Table [dbo].[_AB_tb_BD_Backup_191204]    Script Date: 8/17/2023 9:06:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_AB_tb_BD_Backup_191204](
	[HID] [int] IDENTITY(1,1) NOT NULL,
	[ID] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
