/****** Object:  Table [dbo].[_AB_XML_Costprices_400_last_executed]    Script Date: 8/17/2023 9:06:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_AB_XML_Costprices_400_last_executed](
	[Lstexec] [datetime] NULL
) ON [PRIMARY]
GO
