/****** Object:  Table [dbo].[_AB_tmp_PrijslijstExcel_MagWegNa20180831]    Script Date: 8/17/2023 9:06:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_AB_tmp_PrijslijstExcel_MagWegNa20180831](
	[Artikel] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Omschrijving] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Eenheid] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Inkoopprijs] [float] NULL,
	[RowStatus] [int] NULL
) ON [PRIMARY]
GO
