/****** Object:  Table [dbo].[Import_Item_location]    Script Date: 8/17/2023 8:59:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import_Item_location](
	[itemcode] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Userfield_02] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
