/****** Object:  Table [dbo].[Temp]    Script Date: 8/17/2023 8:59:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp](
	[SSHID] [int] NOT NULL
) ON [PRIMARY]
GO
