/****** Object:  Table [dbo].[_ST_Log_MoveWarehouse92]    Script Date: 8/17/2023 8:59:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_ST_Log_MoveWarehouse92](
	[reknr] [char](9) COLLATE Latin1_General_CI_AS NULL,
	[Qty] [float] NULL,
	[artcode] [varchar](30) COLLATE Latin1_General_CI_AS NULL,
	[facode] [varchar](20) COLLATE Latin1_General_CI_AS NULL
) ON [PRIMARY]
GO
