/****** Object:  View [dbo].[_ST_VW_YearDates]    Script Date: 8/17/2023 8:59:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[_ST_VW_YearDates] AS
WITH YearList as (
	SELECT 2000 AS YearNr
	UNION ALL
	SELECT yl.YearNr + 1 AS Yeas
	FROM YearList yl
	WHERE yl.YearNr + 1 <= YEAR(GETDATE())+10
)
SELECT YearNr, 
DATEFROMPARTS(YearNr,1,1) as StartDate, 
DATEFROMPARTS(YearNr,12,31) as EndDate ,
CASE WHEN DATEPART(dw,DATEFROMPARTS(YearNr,1,1)) <= 4 
	THEN DATEADD(day , 1-DATEPART(dw,DATEFROMPARTS(YearNr,1,1)), DATEFROMPARTS(YearNr,1,1)) 
	ELSE DATEADD(day , 8-DATEPART(dw,DATEFROMPARTS(YearNr,1,1)), DATEFROMPARTS(YearNr,1,1)) END AS FirstWeekStart,
CASE WHEN DATEPART(dw,DATEFROMPARTS(YearNr,12,31)) < 4 
	THEN DATEADD(day , -DATEPART(dw,DATEFROMPARTS(YearNr,12,31)), DATEFROMPARTS(YearNr,12,31)) 
	ELSE DATEADD(day , 7-DATEPART(dw,DATEFROMPARTS(YearNr,12,31)), DATEFROMPARTS(YearNr,12,31)) END AS LastWeekEnd,
DATEDIFF(WEEK, CASE WHEN DATEPART(dw,DATEFROMPARTS(YearNr,1,1)) <= 4 
	THEN DATEADD(day , 1-DATEPART(dw,DATEFROMPARTS(YearNr,1,1)), DATEFROMPARTS(YearNr,1,1)) 
	ELSE DATEADD(day , 8-DATEPART(dw,DATEFROMPARTS(YearNr,1,1)), DATEFROMPARTS(YearNr,1,1)) END,
CASE WHEN DATEPART(dw,DATEFROMPARTS(YearNr,12,31)) < 4 
	THEN DATEADD(day , -DATEPART(dw,DATEFROMPARTS(YearNr,12,31)), DATEFROMPARTS(YearNr,12,31)) 
	ELSE DATEADD(day , 7-DATEPART(dw,DATEFROMPARTS(YearNr,12,31)), DATEFROMPARTS(YearNr,12,31)) END) + 1 AS NrOfWeeks

from YearList 
GO
