/****** Object:  Table [dbo].[_st_log_transfer220217]    Script Date: 8/17/2023 8:59:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_st_log_transfer220217](
	[artcode] [varchar](30) COLLATE Latin1_General_CI_AS NULL,
	[facode] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[warehouse] [char](4) COLLATE Latin1_General_CI_AS NULL,
	[Qty] [float] NULL
) ON [PRIMARY]
GO
